[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg = {extras = ["binary"], version = "*"}
webvtt-py = "*"
nagisa = "*"

[dev-packages]

[requires]
python_version = "3.8"
